.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  min-height: 100px;
  padding: 1rem;
  background-color: var(--primary);
  color: var(--secondary);
  z-index: 2;
  box-shadow: 0 0 1em 0.3em black;
  font-size: 1.2em;
}

.navbar-block {
  width: 100%;
  min-height: 170px;
}

.navbar-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.navbar-head {
  display: flex;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navLink {
  text-decoration: none;
  color: inherit;
  padding: 0.5em 0.5em;
}

.navbar-login {
  display: flex;
  align-items: center;
}

.navBurger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

.navbar-container fieldset {
  border-color: var(--secondary) !important;
}

.navbar-container label {
  color: var(--secondary) !important;
}


.navbar-login{
  padding-top: 0.2em;
  cursor: pointer;
}

.user-name {
  padding: 0.5em 0.5em;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
}

@media screen and (max-width: 768px) {
  .navLinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    width: 0;
    height: 100vh;
    padding: 2rem;
    visibility: hidden;
    background-color: var(--primary);
    transition: all 0.8s ease-out;
  }

  .showNav .navLinks {
    width: 100vw;
    right: 0;
    visibility: visible;
  }

  .navLink::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 10vw;
    height: 1px;
    background: var(--secondary);
  }

  .navLink {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }
  
  .navbar-login {
    padding: 1em 0;
  }

  .navBurger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  .burgerBar,
  .burgerBar::before,
  .burgerBar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: var(--light);
    transition: all 0.5s ease-in-out;
  }

  .burgerBar::before,
  .burgerBar::after {
    content: '';
    position: absolute;
    left: 0;
  }

  .burgerBar::before {
    transform: translateY(-12px);
  }

  .burgerBar::after {
    transform: translateY(12px);
  }

  .showNav .burgerBar {
    width: 0;
    background: transparent;
  }

  .showNav .burgerBar::before {
    transform: rotate(45deg);
  }

  .showNav .burgerBar::after {
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}
