.carousel-container {
  display: flex;
}

 .carousel-card {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
 }

 .carousel-title {
   display: flex;
   align-items: center;
   text-align: center;
   width: 200px;
   color: #003F4F;
 }